
html, body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(150deg,#24305e 60%,#f76c6c 0);
    background-repeat: no-repeat;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    overflow-x: hidden;
}

button {
    transition-duration: 0.4s;
}

.navbar {
    position: fixed;
    width:50vw;
    height: 70px;
    margin-left: 25vw;
}

.with_background {
    background: rgba(50, 50, 50, 1);
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 40%), 0 6px 20px 0 rgb(0 0 0 / 40%);
}

.navbar button {
    float: left;
    width: 25%;
    height: 100%;
    margin: 0;
    border: none;
    outline: none;
    background: rgba(0, 0, 0, 0);
    color: #a8d0e6;
    font-size: 1.2em;
    cursor: pointer;
}

.navbar button:hover {
    background: #374785;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 40%), 0 6px 20px 0 rgb(0 0 0 / 40%);
    font-size: 1.5em;
}

.active {
    background: #374785 !important;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 40%), 0 6px 20px 0 rgb(0 0 0 / 40%);
    font-size: 1.5em !important;
}

.icon {
    position: fixed;
    height: 70px;
    width: 25vw;
    margin-left: 75vw;
    text-align: left;
}

.icon img {
    position: absolute;
    height: 75px;
    width: 75px;
    right: 0;
    margin-right: 20px;
}

.icon mark {
    position: absolute;
    background: rgba(0, 0, 0, 0);
    color: white;
    font-size: 1.2em;
    right: 0;
    margin-right: 100px;
    vertical-align: bottom;
}

.home {
    display: none;
    float: left;
    height: 600px;
    width: 80vw;
    margin-top: 70px;
    margin-left: 10vw;
    text-align: left;
}

.home h3 {
    color: white;
}

.home h1 {
    color: white;
    font-size: 4em;
    cursor: pointer;
    width:fit-content;
    transition-duration: 0.5s;
}

.home h1:hover {
    color: silver;
    font-size: 5em;
}

.home h2 {
    color: white;
    font-size: 2em;
}

.home button {
    float: left;
    margin: 0;
    border: none;
    outline: none;
    background: rgba(0, 0, 0, 0);
    color: #a8d0e6;
    font-size: 2em;
    cursor: pointer;
    width: 5vw;
    vertical-align: middle;
    padding: 10px;
}

.home button:hover {
    background: #374785 !important;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 40%), 0 6px 20px 0 rgb(0 0 0 / 40%);
}

.about {
    float: left;
    height: 600px;
    width: 100vw;
    text-align: left;
}

.about .left {
    float: left;
    width: 100%;
    height: 50%;
    color: white;
    font-size: 1.5em;
    margin-left: 10%;
}

.about .left p {
    width: 50%;
    transition-duration: 0.4s;
}

.about .right {
    float: left;
    width: 100%;
    height: 50%;
    color: white;
    font-size: 1.5em;
}

.about .right h2 {
    width: 30%;
    margin-left: 70%;
    transition-duration: 0.4s;
}

.about .right table {
    margin-left: 70%;
}

.project {
    float: left;
    height: 600px;
    width: 100vw;
    text-align: center;
}

.project h1 {
    color: white;
}

.project-item {
    float: left;
    width: 20vw;
    height: 160px;
    margin-left: 10vw;
    margin-top: 30px;
    background: rgba(250, 250, 250, 1);
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 40%), 0 6px 20px 0 rgb(0 0 0 / 40%);
    cursor: pointer;
}

.project-show {
    float: left;
    width: 100%;
    height: 100%;
}

.project-icon {
    float: left;
    width: 100%;
    height: 120px;
    font-size: 5em;
}

.project-title {
    float: left;
    width: 100%;
    height: 40px;
    font-size: 2em;
}

.project-hidden {
    display: none;
    float: left;
    width: 100%;
    height: 100%;
}

.project-description {
    float: left;
    width: 100%;
    height: 100px;
    font-size: 1em;
}

.project-description p {
    padding: 10px;
}

.project-button {
    float: left;
    width: 100%;
    height: 60px;
    font-size: 2em;
    text-align: center;
}

.project-button button {
    width: 60%;
    height: 40px;
    border-radius: 8px;
    border: none;
    outline: none;
    background: #a8d0e6;
    cursor: pointer;
}

.project-button button:hover {
    background: #374785 !important;
    color: #a8d0e6;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 40%), 0 6px 20px 0 rgb(0 0 0 / 40%);
}

.contact {
    float: left;
    height: 600px;
    width: 100vw;
    text-align: center;
}

.contact h1 {
    color: white;
}

.contact table {
    width: 60vw;
    height: 300px;
    margin-left: 20vw;
    font-size: 2em;
    color: white;
}

.contact table td {
    width: 20%;
}

.contact td:nth-child(even){
    text-align: left;
    width: 60%;
}

.contact button {
    padding: 10px;
    border-radius: 8px;
    width: 80px;
    cursor: pointer;
    background: #374785;
    color: white;
    outline: none;
    border: none;
    font-size: 0.8em;
}

.contact button:hover {
    background: #a8d0e6 !important;
    color: #374785 !important;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 40%), 0 6px 20px 0 rgb(0 0 0 / 40%);
    width: 100px;
}

.c-red {
    color: rgba(216, 94, 82, 1);
}

.c-blue {
    color: #008CBA;
}

.c-yellow {
    color: #fded73;
}

@media only screen and (orientation: portrait) {
    .navbar {
        width: 100vw;
        margin-left: 0vw;
    }

    .navbar button {
        font-size: 0.9em;
    }

    .icon {
        display: none;
    }

    .home button {
        width: auto;
        padding-left: 10px;
        padding-right: 10px;
    }

    .about {
        height: 800px;
    }

    .about .left {
        font-size: 1.2em;
    }

    .about .left p {
        width: 80%;
    }

    .about .right h2 {
        margin-top: 10%;
        margin-left: 35%;
    }

    .about .right table {
        margin-left: 10%;
        width: 90%;
    }

    .project {
        height: 1200px;
    }

    .project-item {
        width: 60vw;
        margin-left: 20vw;
    }

    .contact table {
        width: 100vw;
        margin: 0;
        font-size: 1em;
    }
}